services:
  web:
    image: asia-northeast1-docker.pkg.dev/hikarino-d17a6/hikarino/hikarino-web:latest
    platform: linux/amd64
    container_name: hikarino-web
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyChXVyJTcuGNwpz5dGi7duH8JBroNjGZhk
      - NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=hikarino-d17a6.firebaseapp.com
      - NEXT_PUBLIC_FIREBASE_PROJECT_ID=hikarino-d17a6
      - NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=hikarino-d17a6.appspot.com
      - NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=518271795246
      - NEXT_PUBLIC_FIREBASE_APP_ID=1:518271795246:web:9eb84cc1f9498fbf415fbf

  nginx:
    image: nginx:1.27-alpine
    container_name: hikarino-nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./certbot:/var/www/certbot
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - /var/log/nginx:/var/log/nginx
      - ./htpasswd:/etc/nginx/.htpasswd:ro
    depends_on:
      - web