---
name: Deploy to Production
"on":
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Authenticate to GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}
      - name: Configure Docker
        run: gcloud auth configure-docker asia-northeast1-docker.pkg.dev
      - name: Create .env.production
        run: |
          echo "${{ secrets.ENV_PRODUCTION }}" > .env.production
      - name: Build and Push Docker Image
        run: |
          IMAGE="asia-northeast1-docker.pkg.dev/hikarino-d17a6/hikarino/hikarino-web"
          echo "Building and pushing $IMAGE:latest"

          docker build -t $IMAGE:latest .
          docker push $IMAGE:latest
      - name: SSH to VM and Deploy
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.VM_HOST }}
          username: ${{ secrets.VM_USER }}
          key: ${{ secrets.VM_KEY }}
          script: |
            cd /home/tehrani/hikarino
            docker compose pull
            docker compose up -d --force-recreate --remove-orphans
